.elementor-447 .elementor-element.elementor-element-35a34a06>.elementor-container {
    max-width: 700px;
}

.elementor-447 .elementor-element.elementor-element-35a34a06>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-447 .elementor-element.elementor-element-35a34a06:not(.elementor-motion-effects-element-type-background),
.elementor-447 .elementor-element.elementor-element-35a34a06>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-447 .elementor-element.elementor-element-35a34a06 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-447 .elementor-element.elementor-element-35a34a06>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-447 .elementor-element.elementor-element-15b6b3d6 {
    text-align: center;
}

.elementor-447 .elementor-element.elementor-element-15b6b3d6 .elementor-heading-title {
    color: #ffffff;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.4em;
}

.elementor-447 .elementor-element.elementor-element-70b8cb {
    text-align: center;
    color: #686868;
    font-size: 16px;
    font-weight: 300;
    line-height: 2em;
}

.elementor-447 .elementor-element.elementor-element-3600131>.elementor-container {
    max-width: 1000px;
}

.elementor-447 .elementor-element.elementor-element-3600131>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-447 .elementor-element.elementor-element-5a439c2e .elementor-button {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    fill: #ffffff;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #ffffff;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
}

.elementor-447 .elementor-element.elementor-element-5a439c2e .elementor-button:hover,
.elementor-447 .elementor-element.elementor-element-5a439c2e .elementor-button:focus {
    color: #00ce1b;
    border-color: #00ce1b;
}

.elementor-447 .elementor-element.elementor-element-5a439c2e .elementor-button:hover svg,
.elementor-447 .elementor-element.elementor-element-5a439c2e .elementor-button:focus svg {
    fill: #00ce1b;
}

.elementor-447 .elementor-element.elementor-element-5a439c2e>.elementor-widget-container {
    padding: 15px 0px 0px 0px;
}

.elementor-447 .elementor-element.elementor-element-607ec781>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-447 .elementor-element.elementor-element-607ec781:not(.elementor-motion-effects-element-type-background),
.elementor-447 .elementor-element.elementor-element-607ec781>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-447 .elementor-element.elementor-element-607ec781>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #7EF0CB 0%, #3A7FA4 100%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-447 .elementor-element.elementor-element-607ec781,
.elementor-447 .elementor-element.elementor-element-607ec781>.elementor-background-overlay {
    border-radius: 24px 24px 0px 0px;
}

.elementor-447 .elementor-element.elementor-element-607ec781 {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-447 .elementor-element.elementor-element-602a3c9b>.elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-447 .elementor-element.elementor-element-164a25fa {
    text-align: left;
}

.elementor-447 .elementor-element.elementor-element-164a25fa .elementor-heading-title {
    color: #FFFFFF6E;
    font-family: "Helvetica", Sans-serif;
    font-size: 65px;
    font-weight: bold;
    text-transform: none;
}

.elementor-447 .elementor-element.elementor-element-57eba168 img {
    border-radius: 24px 24px 24px 24px;
    box-shadow: 0px 40px 60px 0px rgba(0, 0, 0, 0.5);
}

.elementor-447 .elementor-element.elementor-element-379494db>.elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-447 .elementor-element.elementor-element-67a6a5ab img {
    border-radius: 24px 24px 24px 24px;
    box-shadow: 0px 40px 60px 0px rgba(0, 0, 0, 0.5);
}

.elementor-447 .elementor-element.elementor-element-515b774e>.elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-447 .elementor-element.elementor-element-4d927630 {
    text-align: center;
}

.elementor-447 .elementor-element.elementor-element-4d927630 img {
    border-radius: 24px 24px 24px 24px;
    box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.5);
}

.elementor-447 .elementor-element.elementor-element-4d927630>.elementor-widget-container {
    padding: 100px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-447 .elementor-element.elementor-element-35a34a06 {
        padding: 100px 25px 100px 25px;
    }
    .elementor-447 .elementor-element.elementor-element-607ec781 {
        padding: 100px 25px 100px 25px;
    }
    .elementor-447 .elementor-element.elementor-element-602a3c9b>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-447 .elementor-element.elementor-element-164a25fa .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-447 .elementor-element.elementor-element-379494db>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-447 .elementor-element.elementor-element-515b774e>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
}

@media(max-width:767px) {
    .elementor-447 .elementor-element.elementor-element-35a34a06 {
        padding: 50px 20px 50px 20px;
    }
    .elementor-447 .elementor-element.elementor-element-15b6b3d6 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-447 .elementor-element.elementor-element-607ec781 {
        padding: 50px 20px 50px 20px;
    }
    .elementor-447 .elementor-element.elementor-element-602a3c9b>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-447 .elementor-element.elementor-element-164a25fa .elementor-heading-title {
        font-size: 74px;
    }
    .elementor-447 .elementor-element.elementor-element-57eba168 {
        text-align: left;
    }
    .elementor-447 .elementor-element.elementor-element-57eba168 img {
        max-width: 50%;
    }
    .elementor-447 .elementor-element.elementor-element-57eba168>.elementor-widget-container {
        padding: 20px 20px 0px 0px;
    }
    .elementor-447 .elementor-element.elementor-element-67a6a5ab {
        text-align: right;
    }
    .elementor-447 .elementor-element.elementor-element-67a6a5ab img {
        max-width: 50%;
    }
    .elementor-447 .elementor-element.elementor-element-67a6a5ab>.elementor-widget-container {
        margin: -135px 0px 0px 0px;
        padding: 0px 0px 0px 20px;
    }
    .elementor-447 .elementor-element.elementor-element-515b774e>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-447 .elementor-element.elementor-element-4d927630>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}