.elementor-512 .elementor-element.elementor-element-f396a96:not(.elementor-motion-effects-element-type-background),
.elementor-512 .elementor-element.elementor-element-f396a96>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-512 .elementor-element.elementor-element-f396a96 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-512 .elementor-element.elementor-element-f396a96>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-512 .elementor-element.elementor-element-84e6efc {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #3A7FA400;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 48px 0px 48px 0px;
}

.elementor-512 .elementor-element.elementor-element-84e6efc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-512 .elementor-element.elementor-element-218d781>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #FFFFFF33;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 128px 0px 0px;
}

.elementor-512 .elementor-element.elementor-element-218d781>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-512 .elementor-element.elementor-element-839386a.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor0);
}

.elementor-512 .elementor-element.elementor-element-839386a.elementor-view-framed .elementor-icon,
.elementor-512 .elementor-element.elementor-element-839386a.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-astglobalcolor0);
    color: var( --e-global-color-astglobalcolor0);
    border-color: var( --e-global-color-astglobalcolor0);
}

.elementor-512 .elementor-element.elementor-element-839386a.elementor-position-right .elementor-icon-box-icon {
    margin-left: 16px;
}

.elementor-512 .elementor-element.elementor-element-839386a.elementor-position-left .elementor-icon-box-icon {
    margin-right: 16px;
}

.elementor-512 .elementor-element.elementor-element-839386a.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 16px;
}

.elementor-512 .elementor-element.elementor-element-839386a .elementor-icon {
    font-size: 16px;
}

.elementor-512 .elementor-element.elementor-element-839386a .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-512 .elementor-element.elementor-element-839386a .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-512 .elementor-element.elementor-element-839386a .elementor-icon-box-title {
    margin-bottom: 8px;
}

.elementor-512 .elementor-element.elementor-element-839386a .elementor-icon-box-title,
.elementor-512 .elementor-element.elementor-element-839386a .elementor-icon-box-title a {
    font-family: "Helvetica", Sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: -1.5px;
}

.elementor-512 .elementor-element.elementor-element-839386a .elementor-icon-box-description {
    color: #FFFFFF85;
    font-family: "Helvetica", Sans-serif;
    font-weight: bold;
    text-transform: none;
}

.elementor-512 .elementor-element.elementor-element-15eda8b>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: var( --e-global-color-astglobalcolor5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 40px;
}

.elementor-512 .elementor-element.elementor-element-15eda8b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-512 .elementor-element.elementor-element-f142f48.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor0);
}

.elementor-512 .elementor-element.elementor-element-f142f48.elementor-view-framed .elementor-icon,
.elementor-512 .elementor-element.elementor-element-f142f48.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-astglobalcolor0);
    color: var( --e-global-color-astglobalcolor0);
    border-color: var( --e-global-color-astglobalcolor0);
}

.elementor-512 .elementor-element.elementor-element-f142f48.elementor-position-right .elementor-icon-box-icon {
    margin-left: 16px;
}

.elementor-512 .elementor-element.elementor-element-f142f48.elementor-position-left .elementor-icon-box-icon {
    margin-right: 16px;
}

.elementor-512 .elementor-element.elementor-element-f142f48.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 16px;
}

.elementor-512 .elementor-element.elementor-element-f142f48 .elementor-icon {
    font-size: 16px;
}

.elementor-512 .elementor-element.elementor-element-f142f48 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-512 .elementor-element.elementor-element-f142f48 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-512 .elementor-element.elementor-element-f142f48 .elementor-icon-box-title {
    margin-bottom: 8px;
}

.elementor-512 .elementor-element.elementor-element-f142f48 .elementor-icon-box-title,
.elementor-512 .elementor-element.elementor-element-f142f48 .elementor-icon-box-title a {
    font-family: "Helvetica", Sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-transform: none;
    line-height: -1.5px;
    letter-spacing: -1.5px;
}

.elementor-512 .elementor-element.elementor-element-f142f48 .elementor-icon-box-description {
    color: #FFFFFF85;
    font-family: "Helvetica", Sans-serif;
    font-weight: bold;
    text-transform: none;
}

.elementor-512 .elementor-element.elementor-element-c075763>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #FFFFFF33;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 40px;
}

.elementor-512 .elementor-element.elementor-element-c075763>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-512 .elementor-element.elementor-element-522f047.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor0);
}

.elementor-512 .elementor-element.elementor-element-522f047.elementor-view-framed .elementor-icon,
.elementor-512 .elementor-element.elementor-element-522f047.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-astglobalcolor0);
    color: var( --e-global-color-astglobalcolor0);
    border-color: var( --e-global-color-astglobalcolor0);
}

.elementor-512 .elementor-element.elementor-element-522f047.elementor-position-right .elementor-icon-box-icon {
    margin-left: 16px;
}

.elementor-512 .elementor-element.elementor-element-522f047.elementor-position-left .elementor-icon-box-icon {
    margin-right: 16px;
}

.elementor-512 .elementor-element.elementor-element-522f047.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 16px;
}

.elementor-512 .elementor-element.elementor-element-522f047 .elementor-icon {
    font-size: 16px;
}

.elementor-512 .elementor-element.elementor-element-522f047 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-512 .elementor-element.elementor-element-522f047 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-512 .elementor-element.elementor-element-522f047 .elementor-icon-box-title {
    margin-bottom: 8px;
}

.elementor-512 .elementor-element.elementor-element-522f047 .elementor-icon-box-title,
.elementor-512 .elementor-element.elementor-element-522f047 .elementor-icon-box-title a {
    font-family: "Helvetica", Sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: -1.5px;
}

.elementor-512 .elementor-element.elementor-element-522f047 .elementor-icon-box-description {
    color: #FFFFFF85;
    font-family: "Helvetica", Sans-serif;
    font-weight: bold;
    text-transform: none;
}

.elementor-512 .elementor-element.elementor-element-267d3414>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-512 .elementor-element.elementor-element-267d3414:not(.elementor-motion-effects-element-type-background),
.elementor-512 .elementor-element.elementor-element-267d3414>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #70F2C0 0%, #3A7FA4 100%);
}

.elementor-512 .elementor-element.elementor-element-267d3414 {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 24px 100px 24px;
}

.elementor-512 .elementor-element.elementor-element-267d3414,
.elementor-512 .elementor-element.elementor-element-267d3414>.elementor-background-overlay {
    border-radius: 24px 24px 0px 0px;
}

.elementor-512 .elementor-element.elementor-element-267d3414>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-512 .elementor-element.elementor-element-29783ac6:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-512 .elementor-element.elementor-element-29783ac6>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0000003D;
}

.elementor-512 .elementor-element.elementor-element-29783ac6>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #FFFFFF14;
    box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 100px 20px 20px 20px;
}

.elementor-512 .elementor-element.elementor-element-29783ac6>.elementor-element-populated,
.elementor-512 .elementor-element.elementor-element-29783ac6>.elementor-element-populated>.elementor-background-overlay,
.elementor-512 .elementor-element.elementor-element-29783ac6>.elementor-background-slideshow {
    border-radius: 24px 24px 24px 24px;
}

.elementor-512 .elementor-element.elementor-element-29783ac6>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-512 .elementor-element.elementor-element-340602b1 iframe {
    height: 400px;
}

.elementor-512 .elementor-element.elementor-element-340602b1>.elementor-widget-container {
    border-radius: 24px 24px 24px 24px;
    box-shadow: 0px 15px 27px 0px rgba(0, 0, 0, 0.19);
}

.elementor-512 .elementor-element.elementor-element-4ac677c2>.elementor-element-populated {
    padding: 0px 24px 0px 24px;
}

.elementor-512 .elementor-element.elementor-element-5224eec3 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 12px;
}

.elementor-512 .elementor-element.elementor-element-51173de8 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Helvetica", Sans-serif;
    font-size: 99px;
    font-weight: bold;
    text-transform: none;
    line-height: 97px;
    letter-spacing: -9px;
}

.elementor-512 .elementor-element.elementor-element-51173de8>.elementor-widget-container {
    padding: 20px 0px 0px 0px;
}

.elementor-512 .elementor-element.elementor-element-7cf5c38f .elementor-heading-title {
    color: #FFFFFFA6;
    font-family: "Helvetica", Sans-serif;
    font-size: 23px;
    font-weight: bold;
}

.elementor-512 .elementor-element.elementor-element-7cf5c38f>.elementor-widget-container {
    padding: 20px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-512 .elementor-element.elementor-element-218d781>.elementor-element-populated {
        border-width: 0px 0px 1px 0px;
        margin: 0px 0px 32px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 32px 0px;
    }
    .elementor-512 .elementor-element.elementor-element-15eda8b>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-512 .elementor-element.elementor-element-c075763>.elementor-element-populated {
        padding: 0px 0px 0px 48px;
    }
    .elementor-512 .elementor-element.elementor-element-267d3414 {
        padding: 100px 25px 100px 25px;
    }
    .elementor-512 .elementor-element.elementor-element-4ac677c2>.elementor-element-populated {
        padding: 0px 55px 0px 0px;
    }
    .elementor-512 .elementor-element.elementor-element-51173de8 .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-512 .elementor-element.elementor-element-51173de8>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }
    .elementor-512 .elementor-element.elementor-element-7cf5c38f .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-512 .elementor-element.elementor-element-7cf5c38f>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-512 .elementor-element.elementor-element-218d781 {
        width: 33.891%;
    }
    .elementor-512 .elementor-element.elementor-element-15eda8b {
        width: 36.618%;
    }
    .elementor-512 .elementor-element.elementor-element-c075763 {
        width: 29.403%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-512 .elementor-element.elementor-element-218d781 {
        width: 100%;
    }
    .elementor-512 .elementor-element.elementor-element-15eda8b {
        width: 44%;
    }
    .elementor-512 .elementor-element.elementor-element-c075763 {
        width: 56%;
    }
}

@media(max-width:767px) {
    .elementor-512 .elementor-element.elementor-element-84e6efc {
        border-width: 0px 0px 0px 0px;
        margin-top: 24px;
        margin-bottom: 0px;
        padding: 32px 24px 48px 24px;
    }
    .elementor-512 .elementor-element.elementor-element-218d781>.elementor-element-populated {
        border-width: 0px 0px 1px 0px;
        margin: 0px 0px 16px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 16px 0px;
    }
    .elementor-512 .elementor-element.elementor-element-839386a .elementor-icon-box-icon {
        margin-bottom: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-839386a.elementor-position-right .elementor-icon-box-icon {
        margin-left: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-839386a.elementor-position-left .elementor-icon-box-icon {
        margin-right: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-839386a.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-839386a .elementor-icon-box-description {
        font-size: 16px;
    }
    .elementor-512 .elementor-element.elementor-element-f142f48 .elementor-icon-box-icon {
        margin-bottom: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-f142f48.elementor-position-right .elementor-icon-box-icon {
        margin-left: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-f142f48.elementor-position-left .elementor-icon-box-icon {
        margin-right: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-f142f48.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-f142f48 .elementor-icon-box-description {
        font-size: 16px;
    }
    .elementor-512 .elementor-element.elementor-element-c075763>.elementor-element-populated {
        border-width: 1px 0px 0px 0px;
        margin: 16px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 16px 0px 0px 0px;
    }
    .elementor-512 .elementor-element.elementor-element-522f047 .elementor-icon-box-icon {
        margin-bottom: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-522f047.elementor-position-right .elementor-icon-box-icon {
        margin-left: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-522f047.elementor-position-left .elementor-icon-box-icon {
        margin-right: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-522f047.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 8px;
    }
    .elementor-512 .elementor-element.elementor-element-522f047 .elementor-icon-box-description {
        font-size: 16px;
    }
    .elementor-512 .elementor-element.elementor-element-267d3414 {
        border-width: 0px 0px 0px 0px;
        padding: 50px 20px 50px 20px;
    }
    .elementor-512 .elementor-element.elementor-element-267d3414,
    .elementor-512 .elementor-element.elementor-element-267d3414>.elementor-background-overlay {
        border-radius: 24px 24px 0px 0px;
    }
    .elementor-512 .elementor-element.elementor-element-29783ac6>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 90px 24px 24px 24px;
    }
    .elementor-512 .elementor-element.elementor-element-29783ac6>.elementor-element-populated,
    .elementor-512 .elementor-element.elementor-element-29783ac6>.elementor-element-populated>.elementor-background-overlay,
    .elementor-512 .elementor-element.elementor-element-29783ac6>.elementor-background-slideshow {
        border-radius: 24px 24px 24px 24px;
    }
    .elementor-512 .elementor-element.elementor-element-340602b1>.elementor-widget-container {
        border-radius: 24px 24px 24px 24px;
    }
    .elementor-512 .elementor-element.elementor-element-4ac677c2>.elementor-element-populated {
        padding: 24px 0px 24px 0px;
    }
    .elementor-512 .elementor-element.elementor-element-51173de8 .elementor-heading-title {
        font-size: 53px;
        line-height: 1.1em;
        letter-spacing: -3.8px;
    }
    .elementor-512 .elementor-element.elementor-element-7cf5c38f .elementor-heading-title {
        font-size: 20px;
    }
}